# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /

# Rewrite all uploads not found locally to the production servers.
#RewriteCond %{REQUEST_FILENAME} !-f [OR]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule "^wp-content/uploads/sites/(.*)" "https://example.com/wp-content/uploads/sites/$1" [P]

RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(wp-(content|admin|includes).*) /wp/$1 [L]
RewriteRule ^(.*\.php)$ /wp/$1 [L]
RewriteRule . /wp/index.php [L]
</IfModule>
# END WordPress